.recommend {
  width: 216px;
  height: 144px;
  position: relative;
  padding-top: 24px;
  background-color: var(--dark-600-color);
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.recommend .title {
  color: var(--primary-300-color);
  font-size: 22px;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  font-weight: 400;

}
.recommend .line{
  width: 56px;
  height: 1px;
  background-color: var(--light-color);
  margin-top: 10px;
}
.recommend .sub-title {
  
  margin-top: 8px;
  color: var(--light-color);
  font-size: 18px;
  font-family: 'Hiragino', sans-serif;
  line-height: 26px;
  font-weight: 300;
}
