.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 36px solid transparent;
    border-left: 58px solid var(--light-color);
    border-right: 58px solid var(--light-color);
    position: absolute;
    top: 0px;
    left: 0px;
}

.hex {
    width: 116px;
    height: 134px;
    background-image: linear-gradient(to top right, var(--primary-300-color), var(--primary-400-color));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 36px solid transparent;
    border-left: 58px solid var(--light-color);
    border-right: 58px solid var(--light-color);
}

.hex-title{
    color: var(--light-color);
    font-family: 'Inter', sans-serif; 
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}