button.ant-btn {
    width: 160px;
    height: 48px;
    padding: 11px;
}
.btn-menu{
    width: 54px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-menu .menu{
    position: relative;
}
button.ant-btn > span{
    margin-left: 8px;
    width: 96px;
    height: 23px;
    color: var(--light-color);
    text-align: left;
    font-size: 16px;
    line-height: 23px;
}
/* button:hover{
} */