.top-my-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.top-my-page .top{
  width: 100%;
  height: 316px;
  display: flex;
}
.top-my-page .top .main-photo{
  width: 540px;
  height: 100%;
}

.main-photo > img, .main-graph > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-photo .content{
  width: 181px;
  height: 181px;
}

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #ccc;
}
.c100 *, .c100 *:before, .c100 *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.top-my-page .top .main-graph{
  background-color: var(--dark-600-color);
  height: 100%;
  width: 740px;
  padding: 12px 98px;
}

.top-my-page .center{
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}

.top-my-page .bottom{
  margin-top: 25px;
  margin-bottom: 28px;
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-around;
}