.menu-item {
  width: 280px;
  height: 72px;
  background-color: var(--gray-400-color);
  border: none;
  color: var(--light-color);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  padding-left: 32px;
  text-align: left;
}