 .back-to-top {
  width: 48px;
  height: 48px;
  border: 1px solid var(--gray-400-color);
  background-color: transparent;
  border-radius: 50%;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}
