:root {
  --light-color: #ffffff;
  --primary-300-color: #ffcc21;
  --primary-400-color: #ff963c;
  --primary-500-color: #ea6c00;
  --secondary-300-color: #8fe9d0;
  --dark-600-color: #2e2e2e;
  --dark-500-color: #414141;
  --text-color: var(--dark-500-color);
  --gray-400-color: #777777;
}

@font-face {
  font-family: Hiragino;
  src: url(./assets/fonts/Hiragino_Kaku_Gothic_Pro_W3.otf);
}

.App {
  color: var(--text-color);
  /* font-family: 'Inter', sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: 'Hiragino', sans-serif;
  font-weight: 300;

  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 11px;
  line-height: 16px;
  position: relative;
}

.container{
  width: 1280px;
  height: 100%;
  padding: 0 160px;
 
}
.hidden{
  display: none;
}